body {
  background-color: #D3D3D3;
  background-image: url("http://i.imgur.com/bvFwFPo.jpg");
  padding: 20px;
  overflow: scroll;
}

.footer {
  text-align: center;
  margin: 20px 0;
}

.inline-block {
  display: inline-block;
}

.photos {
  left: 50%;
  padding-left: 10em;
  padding-top: 1em;
  text-align: center;
}

.meta {
  width: 100%;
  box-sizing: border-box;
  font-size: 0;
  text-align: center;
  font-weight: bold;
}

.meta-value {
  font-size: 24px;
}

.meta-title {
  font-size: 12px;
  font-weight: bold;
}

.desc {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin: 20px 0;
  padding: 10px 100px;
}

.meta-text {
  color: #364E4E;
  font-size: 32px;
  font-weight: bold;
}

.meta-info {
  width: 25%;
}

.sharer {
  margin: 0 10px;
  display: block;
  padding-left: 1.5em;
  padding-bottom: 1.5em;
}

.sharer-image {
  cursor: pointer;
}

.artist-name {
  padding: 20px 0;
}

.user-photo,
.artist-photo {
  margin: 20px;
  box-shadow: 5px 5px 25px #967e48;
}

.wrapper {
  text-align: center;
  position: relative;
  padding: 80px 0;
}

.wrapper .form-group {
  margin-top: 80px;
}

.wrapper .input-username {
  border: 0;
  background-color: transparent;
  border-bottom: 2px solid black;
  width: 400px;
  font-size: 22px;
  padding: 10px 0;
}

.wrapper .input-username:focus {
  outline: none;
  border-bottom: 3px solid black;
}

.github-button {
  position: relative;
  left: 50px;
  margin: 20px 0;
}

@media screen and (max-width: 760px) {
  .hero img {
    width: 100%;
  }

  .header {
    text-align: center;
  }

  .wrapper .input-username {
    width: 80%;
    font-size: 14px;
  }

  .desc {
    margin: 0;
    padding: 50px 20px;
  }

  .sharer {
    margin: 30px 0;
  }

  .meta-info {
    display: block;
    margin: 25px 0;
    width: 100%;
  }

  .meta-text {
    display: block;
  }
}
