<% include ../partials/head %>
  <div class="container">
  <div class="">
    <div class="wrapper">
      <div class="hero">
        <img src="got.svg" alt="Game of thrones logo">
      </div>
      <form class="form-inline" id="todoInputForm">
        <div class="form-group">
          <input type="text" class="input-username" id="login" placeholder="Enter your Github username" autofocus autocomplete="off">
        </div>
      </form>
      <br/>
      <div class="panel-body" id="postResult"></div>
    </div>
  </div>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
    	$('#todoInputForm').submit(function(e){
    		e.preventDefault()
    		var input = $('#login').val()
    		window.location.href = '/' + input
    	})
    })

  </script>
  <% include ../partials/footer %>
